<app-navbar>
  <div class="container p-4">
    <div class="row">
      <div class="col-sm-6 m-sm-auto">
        <div
          class="card mb-3 cursor-select card-usco-menu shadow"
          [routerLink]="['/resultados']"
        >
          <div class="row">
            <div class="col-md-4 text-center">
              <img
                class="rounded w-100 p-3 shadow filter-green"
                src="assets/chart-pie-solid.png"
              />
            </div>
            <div class="col-md-8 mt-3 text-left p-0">
              <div class="card-block pr-4">
                <h6
                  class="card-title text-left font-usco-vt font-weight-bold cursor-select"
                >
                  Resultados
                </h6>
                <p style="font-size: 11px">
                  Registro, actualización de correo, generación de tiquete de
                  acceso, asignación de foto y parametrización con fecha de
                  ingreso y salida de los invitados que tenga la institución.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="card mb-3 cursor-select card-usco-menu shadow"
          [routerLink]="['/descargables']"
        >
          <div class="row">
            <div class="col-md-4 text-center">
              <img
                class="rounded w-100 p-3 shadow filter-green"
                src="assets/file-csv-solid.png"
              />
            </div>
            <div class="col-md-8 mt-3 text-left p-0">
              <div class="card-block pr-4">
                <h6
                  class="card-title text-left font-usco-vt font-weight-bold cursor-select"
                >
                  Descargable Excel
                </h6>
                <p style="font-size: 11px">
                  Registro, actualización de correo, generación de tiquete de
                  acceso con una vigencia de 24 horas.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="card mb-2 cursor-select card-usco-menu shadow"
          [routerLink]="['/inicio']"
        >
          <div class="row">
            <div class="col-md-4 text-center">
              <img
                class="rounded w-100 p-3 shadow filter-green"
                src="assets/house-solid.png"
              />
            </div>
            <div class="col-md-8 mt-3 text-left p-0">
              <div class="card-block pr-4">
                <h6
                  class="card-title text-left font-usco-vt font-weight-bold cursor-select"
                >
                  Inicio
                </h6>
                <p style="font-size: 11px">Volver al menú inicial</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-navbar>
