<app-navbar>
  <div id="content-wrap" class="container mt-3 mb-5 text-center" #target>
    <div class="card rounded-2 p-0 shadow-sm mt-5">
      <div
        class="card-header ml-4 mb-3 mr-4 cursor-select"
        [routerLink]="['/reportes']"
        routerLinkActive="router-link-active"
      >
        <h4 class="font-usco-default">
          <strong>Reporte Agrupado Excel</strong>
        </h4>
      </div>
      <div class="card-body ls">
        <div class="row pl-4 pr-4">
          <div class="col">
            <form [formGroup]="form">
              <div class="row text-center">
                <div class="col">
                  <mat-form-field class="example-full-width">
                    <mat-label>Titulo para el Archivo del Reporte</mat-label>
                    <input
                      matInput
                      #message
                      maxlength="100"
                      formControlName="titulo"
                      placeholder="Nombre del reporte"
                    />
                  </mat-form-field>
                </div>
              </div>
              <div class="row text-center">
                <div class="col">
                  <mat-form-field class="example-full-width">
                    <mat-label>Cuestionario</mat-label>
                    <mat-select formControlName="cuestionario">
                      <mat-option
                        *ngFor="let cue of lstCuestionarios"
                        [value]="cue.codigo"
                      >
                        {{ cue.nombre }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row text-center">
                <div class="col">
                  <mat-form-field class="example-full-width">
                    <mat-label>Tipo de pregunta</mat-label>
                    <mat-select
                      formControlName="tipoPregunta"
                      (selectionChange)="vista()"
                    >
                      <mat-option value="1"> Prguntas textuales </mat-option>
                      <mat-option value="2">
                        Prguntas con selección múltiple
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <!-- (selectionChange)="obetenerTipoPreguntas()" -->
              <div class="row mt-3 text-center">
                <div class="col">
                  <button
                    *ngIf="(lstReporteAgrupado | json) == '[]' && !validador"
                    class="btn btn-usco-vt"
                    (click)="obetenerTipoPreguntas()"
                    [disabled]="!form.valid"
                  >
                    <i class="fa-solid fa-table-list"></i> Generar
                  </button>
                  <button
                    *ngIf="(lstReporteAgrupado | json) != '[]'"
                    class="btn btn-usco-vt"
                    (click)="exportTableToExcel()"
                    [disabled]="!form.valid"
                  >
                    <i class="fa-solid fa-file-csv"></i> Exportar Excel
                  </button>
                </div>
              </div>
            </form>
            <div
              *ngIf="vistaPreviaResultados"
              class="row text-center"
              style="margin-top: 5%; opacity: 0.6"
            >
              <div class="col" *ngIf="!validador">
                <img
                  src="https://www.usco.edu.co/imagen-institucional/logo/universidad-surcolombiana-v.png"
                  alt=""
                />
              </div>
              <div class="col" *ngIf="validador">
                <img
                  *ngIf="gifActivate"
                  [src]="gifUrlLoad"
                  alt="Aseguramiento de la calidad"
                />
              </div>
            </div>
            <div
              *ngIf="vistaPreviaResultados"
              class="row text-center mt-3 mb-5"
            >
              <div class="col" *ngIf="!validador">
                <h5 class="font-usco-default font-usco-gr">
                  Espacio para la visualización de la información
                </h5>
              </div>
              <div class="col" *ngIf="validador">
                <h5 class="font-usco-default font-usco-gr">
                  Estamos procesando la información
                  <!-- <i class="fa-solid fa-spinner fa-spin"></i> -->
                  <span
                    class="spinner-border spinner-border-sm"
                    role="status"
                    aria-hidden="true"
                  ></span>
                </h5>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col">
                <div class="table-responsive">
                  <table
                    id="miTabla"
                    *ngIf="lstReporteAgrupado.length > 0"
                    class="table table-hover"
                    style="font-size: 8px"
                  >
                    <thead class="table-dark">
                      <tr *ngIf="this.form.get('tipoPregunta')!.value == 1">
                        <th>Fecha Respuesta</th>
                        <th>Estamento</th>
                        <th
                          *ngFor="
                            let columna of lstPreguntasTextoDescripcion;
                            let i = index
                          "
                        >
                          {{ i + 1 }}).{{ columna }}
                        </th>
                      </tr>
                      <tr *ngIf="this.form.get('tipoPregunta')!.value == 2">
                        <th>Fecha Respuesta</th>
                        <th>Estamento</th>
                        <th
                          *ngFor="
                            let columna of lstPreguntasOpcionesDescripcion;
                            let i = index
                          "
                        >
                          {{ i + 1 }}).{{ columna }}
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of lstReporteAgrupado">
                        <td>{{ data.fecha | date : "dd-MM-yyyy" }}</td>
                        <td>{{ data.estamento }}</td>
                        <td *ngFor="let columna of getColumnas()">
                          {{ data.columnas[columna] }}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!--   <div class="row mt-4">
              <div class="col">
                <div class="table-responsive">
                  <table
                    mat-table
                    [dataSource]="dataSource"
                    class="table table-hover shadow"
                  >
                    <ng-container
                      *ngFor="let columna of getColumnas(); let i = index"
                    >
                      <ng-container matColumnDef="{{ columna }}">
                        <th mat-header-cell *matHeaderCellDef>{{ columna }}</th>
                        <td mat-cell *matCellDef="let data">
                          {{ data.columnas[columna] }}
                        </td>
                      </ng-container>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="getColumnas()"></tr>
                    <tr
                      mat-row
                      *matRowDef="let row; columns: getColumnas()"
                    ></tr>
                  </table>
                  <mat-paginator
                    [pageSizeOptions]="[20, 30, 40]"
                    showFirstLastButtons
                  ></mat-paginator>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</app-navbar>
